/* font */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header section  */
/* navigation  */
body{
     background-color: rgba(200, 200, 200, 0.2); 
}
header{
    max-width: 1140px;
    margin: 50px auto 120px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link-cart,
.nav-links,
.nav-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link-cart{
    padding: 18px 0px;
}
.nav-links{
    gap: 48px;
    margin-right: 48px;
}
.nav-cart{
    gap: 10px;
}
.nav-links a{
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
    text-decoration: none;
}
.nav-links-home{
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

/* hero section */
.hero{
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 120px auto 0px auto;
}

.hero-content h1{
    font-weight: bold;
    font-size: 65px;
    margin: 0;
}
.hero-content p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 13px;
}

/* shared style */
span{
    color: rgba(233, 90, 8, 1);
}
section{
    
}

/* Main section */
/* container-1 */
main{
   margin-top: 0px;
   margin-bottom: 120px;
}
.container-1{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.container-1-title{
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    text-align: center;
}
.container-1-descrip{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
}
.carts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.cart-item {
    max-width: 270px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}
.cart-img{
    margin-bottom: 30px;
}
.item-detail{
    font-weight: 500;
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.item-price{
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}
.cart-button{
    width: 270px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
}
/* container-2 */
.container-2{
    margin-top: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: relative;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.container-2-img{
    width: 540px;
    height: 597px;
}
.container-2-des{
    max-height: 522px;
}
.container-2-title{
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    margin-bottom: 20px;
}
li p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: 20px;
}
.trusted-img{
    position: absolute;
    width: 286px;
    height: 286px;
    top: -127px;
    left: 347px;
    filter: drop-shadow(-6px 8px 10px rgba(0, 0, 0, 0.4));
}

/* Container-3 */
.container-3{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}
.latest-deals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-deals-title{
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
}
.latest-deals-des{
    max-width: 888px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
    text-align: center;
}
.sales{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.sales-2{
    grid-column: span 2;
    grid-row: span 2;
}
.sales p{
    margin: 0;
    margin-bottom: 19px;
}
.sales-1{
    background-image: url(./assets/deal-bloom.png);
}
.sales-2 {
    position: relative;
    background-image: url(./assets/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 22px;
    overflow: hidden;
}

.sales-3{
    background-image: url(./assets/deal-ana.png);
}
.sales-1,
.sales-3{
    position: relative;
    width: 366.22px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 14px;
    overflow: hidden;
}

.sales-1::before,
 .sales-2::before,
 .sales-3::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    border-radius: 22px;
}

.sales-1 > * ,
.sales-2 > * ,
.sales-3 > *{
    position: relative;
    z-index: 1;
}
.sales-1 a,
.sales-3 a{
    font-weight: 600;
    font-size: 16px;
}
.sales-2 a{
    font-weight: 600;
    font-size: 28px;
}
.sales a{
    margin: 0;
    text-decoration: underline white;
    color: white;
}

/* conatiner 4 */

.container-4{
    height: 533px;
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.container-4 h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.container-4 input{
    padding-left: 20px;
    width: 644px;
    height: 50px;
    border: none;
    margin-right: 0;
}
input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: px;
}
.container-4 button{
    margin-left: 0;
    width: 185px;
    height: 50px;
    background-color: rgba(233, 90, 8, 1);
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: white;
}
